<div class="setting">
    <div class="row">
        <label for="network" class="form-label">Web3Auth Network</label>
        <select id="network" (change)="selectNetwork($event)" class="form-select" [attr.disabled]="isLoggedIn ? '' : null">
            <option *ngFor="let n of networks | keyvalue" value={{n.key}}>{{n.value.displayName}}</option>
        </select>
    </div>
    <div class="row">
        <label for="chain" class="form-label">Chain</label>
        <select id="chain" (change)="selectChain($event)" class="form-select" [attr.disabled]="isLoggedIn ? '' : null">
            <option *ngFor="let c of chains | keyvalue" value={{c.key}}>{{c.value.displayName}}</option>
        </select>
    </div>
</div>
