<div class="setting">
    <div *ngIf="isModalLoaded && provider; else elseBlock" class="card-container">
        <button class="card card-small" (click)="getUserInfo()">
            Get User Info
        </button>
        <button class="card card-small" (click)="getAccount()">
            Get Account
        </button>
        <button class="card card-small" (click)="getBalance()">
            Get Balance
        </button>
        <button class="card card-small" (click)="signMessage()">
            Sign Message
        </button>
        <button  class="card card-small" (click)="signTransaction()">
            Sign Transaction
        </button>
        <button class="card card-small" (click)="signAndSendTransaction()">
            Sign And Send Transaction
        </button>
        <button class="card card-small" (click)="logout()">
            Log Out
        </button>
        <div class="console" id="console-ui" >
            <p class="code">Logged In</p>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="card-container">
            <button class="card card-small" (click)="login()">Login</button>
        </div>
    </ng-template>
</div>
