@tailwind base;
@tailwind components;
@tailwind utilities;

/* devanagari */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z11lFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZ2IHTWEBlwu8Q.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

/* Modal */
#w3a-modal {
  --bg1: #374151;
  --bg2: #24262e;
  --bg3: #4b5563;
  --bg4: #3b4555;
  --bg5: #1f2a37;
  --text-color1: #d3d3d4;
  --text-color2: #ffffff;
  --text-color3: #9ca3af;
  --text-color5: #6b7280;

  --button-bg1: #111928;

  @apply fixed
  inset-0
  flex
  items-center
  justify-center
  box-border
  p-4;
}

/* LIGHT MODE */
#w3a-modal.w3a-modal--light {
  --bg1: #ffffff;
  --bg2: #f9f9fb;
  --bg3: #f9fafb;
  --bg4: #f9fafb;
  --bg5: #d1d5db;
  --text-color1: #a2a5b5;
  --text-color2: #5c6c7f;
  --text-color3: #6b7280;
  --text-color4: #111928;
  --text-color5: #d1d5db;
  --button-bg1: #f3f4f6;
}

#w3a-modal.w3a-modal--hidden {
  @apply hidden;
}

#w3a-modal .w3a-modal__inner {
  @apply w-full
  max-w-[392px]
  max-h-[95%]
  min-h-[350px]
  overflow-x-hidden
  overflow-y-auto
  rounded-[32px]
  relative
  opacity-0
  bg-[#ffffff]
  dark:bg-[#374151];
  transition: 150ms cubic-bezier(0.92, 0, 1, 0.67);
  transform-origin: center center;
}

#w3a-modal .w3a-modal__inner.w3a-modal__inner--active {
  @apply opacity-100;
  transition: 150ms cubic-bezier(0, 0.73, 0.71, 1);
  transform-origin: center center;
}

#w3a-modal .w3a-modal__header {
  @apply py-2 px-8 relative;
}
#w3a-modal .w3a-modal__content {
  @apply py-4 px-8;
}
#w3a-modal .w3a-modal__footer {
  @apply py-4 px-8 text-center items-center justify-center bg-[#F9FAFB] dark:bg-[#4B5563];
}

/* Header */
#w3a-modal .w3a-header {
  @apply flex items-center;
}
#w3a-modal .w3a-header__logo {
  @apply h-auto w-10 mr-4;
}
#w3a-modal .w3a-header__title {
  @apply font-bold
  text-xl
  text-[#111928]
  dark:text-[#FFFFFF]
  pt-8;
}
#w3a-modal p.w3a-header__subtitle {
  @apply font-normal text-sm text-[#6b7280] dark:text-[#9CA3AF];
}
#w3a-modal button.w3a-header__button {
  @apply cursor-pointer absolute p-0 border-0 top-5 right-7 
  focus:outline-[#F3F4F6]
  active:outline-[#F3F4F6]
  dark:focus:outline
  dark:focus:outline-1
  dark:active:outline
  dark:active:outline-1
  dark:focus:outline-[#9CA3AF]
  dark:active:outline-[#9CA3AF];
}

/* BODY */
#w3a-modal div.w3a-social__policy {
  @apply text-left
  text-xs
  font-medium
  text-[#6B7280]
  dark:text-[#9CA3AF];
}

#w3a-modal .w3a-group {
  @apply mb-4;
}
#w3a-modal .w3a-group:last-child {
  @apply mb-0;
}

#w3a-modal .w3a-group.w3a-group--hidden,
#w3a-modal .w3a-group.w3a-group--social-hidden,
#w3a-modal .w3a-group.w3a-group--email-hidden,
#w3a-modal .w3a-group.w3a-group--ext-wallet-hidden {
  @apply hidden;
}

#w3a-modal div.w3a-group__title {
  @apply text-sm font-medium mb-2 text-[#111928] dark:text-[#FFFFFF];
}

/* Adapter List */
#w3a-modal ul.w3a-adapter-list {
  @apply grid grid-cols-3 overflow-y-hidden mb-4 gap-x-2 gap-y-4;
  padding: 1px;
  max-height: 500px;
  transition: max-height 0.35s;
  transition-timing-function: cubic-bezier(0.92, 0, 0.74, 1);
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--shrink {
  max-height: 108px;
  transition: max-height 0.3s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.71, 1);
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--hidden {
  @apply hidden;
}

#w3a-modal li.w3a-adapter-item {
  @apply list-none;
}

#w3a-modal .w3a-adapter-item--hide {
  @apply hidden;
}

#w3a-modal .w3a-external-toggle {
  @apply block;
}

#w3a-modal .w3a-external-toggle.w3a-external-toggle--hidden {
  @apply hidden;
}

#w3a-modal .w3a-external-container {
  @apply block mb-[34px];
}

#w3a-modal .w3a-external-container.w3a-external-container--hidden {
  @apply hidden;
}

#w3a-modal .w3a-external-group {
  @apply flex
  flex-wrap
  gap-3
  mb-4;
}

#w3a-modal .w3a-external-group__left {
  @apply flex-grow;
}

#w3a-modal button.w3a-external-back {
  @apply bg-none border-0 p-0 inline-flex items-center mb-[30px] cursor-pointer text-[#a2a5b5] dark:text-[#d3d3d4]
  focus:outline-[#F3F4F6]
  active:outline-[#F3F4F6]
  dark:focus:outline
  dark:focus:outline-1
  dark:active:outline
  dark:active:outline-1
  dark:focus:outline-[#9CA3AF]
  dark:active:outline-[#9CA3AF];
}

#w3a-modal .w3a-external-back .w3a-group__title {
  @apply text-[#D3D3D4] mb-0 ml-[5px];
}

#w3a-modal .w3a-external-loader {
  @apply flex justify-center;
}

#w3a-modal .w3a-wallet-connect {
  @apply block text-center mb-4;
}

#w3a-modal .w3a-wallet-connect.w3a-wallet-connect--hidden {
  @apply hidden;
}

#w3a-modal .w3a-wallet-connect__container {
  @apply bg-[#ffffff] rounded-[10px]  text-[#a2a5b5] dark:text-[#d3d3d4] text-xxs w-fit mx-auto min-w-[250px] py-4 px-3;
}

#w3a-modal .w3a-wallet-connect__container-desktop,
#w3a-modal .w3a-wallet-connect__container-android {
  @apply m-auto;
}

#w3a-modal .w3a-wallet-connect__container-btn-group {
  @apply flex gap-[18px];
}

#w3a-modal .w3a-wallet-connect__container-ios {
  @apply flex gap-x-5 gap-y-[30px] p-0 pb-7 box-border flex-wrap;
}

#w3a-modal .w3a-wallet-connect-qr {
  @apply m-4;
}
#w3a-modal .w3a-wallet-connect-qr > svg {
  @apply m-auto;
}

#w3a-modal .w3a-wallet-connect__container-android a {
  @apply no-underline;
}

#w3a-modal .w3a-wallet-connect__logo > img {
  @apply mt-0 mx-auto mb-4 w-[115px];
}

/* Footer Components */
#w3a-modal .w3a-footer {
  @apply flex justify-center items-center text-xs text-[#9CA3AF];
}

#w3a-modal .w3a-footer__links a {
  @apply focus:outline-[#F3F4F6]
  active:outline-[#F3F4F6]
  dark:focus:outline
  dark:focus:outline-1
  dark:active:outline
  dark:active:outline-1
  dark:focus:outline-[#9CA3AF]
  dark:active:outline-[#9CA3AF];
}

#w3a-modal .w3a-footer__links span {
  margin: 0 4px;
}

#w3a-modal.w3a-modal--light .w3a-footer__links a:focus-visible {
  outline: 1px solid #0f1222;
}

#w3a-modal.w3a-modal--light .w3a-external-back:focus-visible {
  outline: 1px solid #0f1222;
}

.hover-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

/* Text Field */
#w3a-modal .w3a-text-field {
  @apply rounded-full
  py-3 px-6
  text-sm
  /* bg */
  bg-[#F9FAFB]
  disabled:bg-[#F2F2F2]
  dark:bg-[#374151]
  dark:disabled:bg-[#242933]
  /* outline */
  outline
  outline-1
  focus:outline
  outline-[#D1D5DB]
  focus:outline-[#0364FF]
  disabled:outline-[#F2F2F2]
  dark:outline-[#4B5563]
  dark:disabled:outline-[#242933]
  /* text */
  text-[#6B7280]
  focus:text-[#111928]
  placeholder:text-[#9CA3AF]
  disabled:placeholder:text-[#9CA3AF]
  dark:text-[#9CA3AF]
  dark:focus:text-[#fff]
  dark:disabled:placeholder:text-[#3E444E];

  line-height: 1.25em;
}

#w3a-modal input.w3a-text-field:-webkit-autofill,
#w3a-modal input.w3a-text-field:-webkit-autofill:hover,
#w3a-modal input.w3a-text-field:-webkit-autofill:focus,
#w3a-modal input.w3a-text-field:-webkit-autofill:active {
  @apply shadow-autofill dark:shadow-autofillDark;
  /* -webkit-box-shadow: 0 0 0 30px #374151 inset !important; */
  -webkit-text-fill-color: #9ca3af !important;
}

/* Buttons */
#w3a-modal .w3a-button {
  @apply rounded-full
  py-3 px-6
  text-base
  font-medium
  /* background */
  bg-[#F3F4F6]
  hover:bg-[#D1D5DB]
  focus:bg-[#F3F4F6]
  disabled:bg-[#F9FAFB]
  dark:bg-[#111928]
  dark:focus:bg-[#111928]
  dark:hover:bg-[#1F2A37]
  dark:disabled:bg-[#3B4555]
  /* text */
  text-[#111928]
  focus:text-[#374151]
  disabled:text-[#D1D5DB]
  dark:text-[#ffffff]
  dark:focus:text-[#ffffff]
  dark:disabled:text-[#6B7280]
  /* outline */
  focus:outline-[#F3F4F6]
  active:outline-[#F3F4F6]
  dark:focus:outline
  dark:focus:outline-1
  dark:active:outline
  dark:active:outline-1
  dark:focus:outline-[#9CA3AF]
  dark:active:outline-[#9CA3AF];
}

#w3a-modal .w3a-button--primary {
  @apply bg-[#0364FF]
  hover:bg-[#1E429F]
  focus:bg-[#0364FF]
  disabled:bg-[#2D4874]
  text-[#ffffff]
  focus:text-[#ffffff]
  active:text-[#ffffff]
  disabled:text-[#6B7280]
  focus:outline-[#A4CAFE]
  active:outline-[#A4CAFE];
}

#w3a-modal.w3a-modal--light .w3a-button--primary {
  @apply bg-[#0364FF]
  hover:bg-[#1E429F]
  focus:bg-[#0364FF]
  disabled:bg-[#C3DDFD]
  text-[#ffffff]
  focus:text-[#ffffff]
  disabled:text-[#EBF5FF]
  focus:outline-[#A4CAFE];
}

#w3a-modal .w3a-button--login {
  @apply inline-flex
  items-center
  justify-center
  h-11;
}

#w3a-modal button.w3a-button--login:hover > .hover-icon {
  display: block;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button--login:hover > .image-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button-expand {
  @apply h-auto w-auto
  ml-auto
  text-sm
  mt-4
  text-[#0364ff]
  focus:outline-[#F3F4F6]
  active:outline-[#F3F4F6]
  dark:focus:outline
  dark:focus:outline-1
  dark:active:outline
  dark:active:outline-1
  dark:focus:outline-[#9CA3AF]
  dark:active:outline-[#9CA3AF];
}

/* SPINNER */
/* Loader */
#w3a-modal .w3a-modal__loader {
  @apply absolute
  flex
  justify-center
  inset-0
  z-10
  bg-[#ffffff]
  dark:bg-[#374151];
}

#w3a-modal .w3a-modal__loader.w3a-modal__loader--hidden {
  @apply hidden;
}

#w3a-modal .w3a-modal__loader-content {
  @apply text-center
  mb-[50px]
  relative
  flex
  flex-col;
}

#w3a-modal .w3a-modal__loader-info {
  @apply flex
  flex-grow
  flex-col
  justify-center
  items-center
  py-0
  px-[30px];
}

#w3a-modal .w3a-spinner-label {
  @apply text-base
  font-medium
  text-[#0364ff]
  mt-[10px];
}

#w3a-modal .w3a-spinner-message {
  @apply mt-[10px] text-base first-letter:capitalize;
}
#w3a-modal .w3a-spinner-message.w3a-spinner-message--error {
  @apply text-[#fb4a61];
}

#w3a-modal .w3a-spinner-power {
  @apply mt-auto
  text-xs
  text-[#b7b8bd];
}
#w3a-modal .w3a-spinner-power > img {
  @apply h-8 w-auto inline;
}

#w3a-modal .w3a-spinner {
  display: inline-block;
  position: relative;
  background-color: #0364ff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: conic-gradient(transparent, #0364ff);
  animation: rotate 1s linear infinite;
}

#w3a-modal .w3a-spinner__mask,
#w3a-modal .w3a-spinner__head {
  content: "";
  position: absolute;
  border-radius: 100%;
}

#w3a-modal .w3a-spinner__mask {
  @apply bg-[#ffffff]
  dark:bg-[#374151];
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
}

#w3a-modal .w3a-spinner__head {
  height: 5px;
  width: 5px;
  background-color: #0364ff;
  top: 0;
  left: 26px;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}

/* Loader Bridge */
#w3a-modal .w3a-modal__loader-bridge {
  @apply flex mb-[14px];
}

#w3a-modal .w3a-modal__loader-bridge-message {
  @apply text-[#6B7280] dark:text-[#FFFFFF] first-letter:capitalize;
}

#w3a-modal .w3a-modal__loader-app-logo {
  @apply flex p-2;
}

#w3a-modal .w3a-modal__loader-app-logo img {
  width: 72px;
  max-width: 72px;
  max-height: 72px;
  height: auto;
}

#w3a-modal .w3a-modal__loader-social-logo {
  display: flex;
  padding: 8px;
}

#w3a-modal .w3a-modal__loader-social-logo img {
  width: 72px;
  height: 72px;
  background: #f3f4f6;
  border-radius: 72px;
}

#w3a-modal .w3a-modal__loader-adapter img {
  width: 84px;
  height: auto;
}

#w3a-modal .w3a-modal__connector {
  display: flex;
  align-items: center;
}

.w3a-modal__connector-beat {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.w3a-modal__connector-beat div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #808080;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.w3a-modal__connector-beat div:nth-child(1) {
  left: 8px;
  animation: beat1 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(2) {
  left: 8px;
  animation: beat2 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(3) {
  left: 8px;
  animation: beat3 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(4) {
  left: 32px;
  animation: beat4 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(5) {
  left: 56px;
  animation: beat5 2.4s infinite;
}

@keyframes beat1 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes beat2 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: translate(24px, 0);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) scale(0);
  }
}

@keyframes beat3 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(48px, 0);
  }

  75% {
    transform: translate(24px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat4 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(24px, 0) scale(0);
  }

  75% {
    transform: translate(24px, 0) scale(1);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat5 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
