@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

/* Modal */
#w3a-modal {
  @apply box-border fixed inset-0 flex items-center justify-center p-4 font-body;
}

#w3a-modal.w3a-modal--hidden {
  @apply hidden;
}

#w3a-modal .w3a-modal__inner {
  @apply flex flex-col w-full max-w-[392px] max-h-[95%] min-h-[630px] overflow-x-hidden overflow-y-hidden rounded-[32px] opacity-0 relative bg-app-white dark:bg-app-gray-800 shadow-modal border border-app-gray-100 dark:border-app-gray-800;
  transform: scale(0);
  transition: all 150ms cubic-bezier(0.92, 0, 1, 0.67);
  transform-origin: center center;
}

#w3a-modal .w3a-modal__inner.w3a-modal__inner--passkey {
  @apply min-h-0;

}

#w3a-modal .w3a-modal__inner.w3a-modal__inner--active {
  @apply opacity-100;
  transform: scale(1);
  transition: all 150ms cubic-bezier(0, 0.73, 0.71, 1);
  transform-origin: center center;
}

#w3a-modal .w3a-modal__header {
  @apply relative px-8 py-2;
}

#w3a-modal .w3a-modal__content {
  @apply px-8 py-4 overflow-y-auto;
}

#w3a-modal .w3a-modal__footer {
  @apply items-center justify-center px-8 py-4 mt-auto text-center;
}

/* Header */
#w3a-modal .w3a-header {
  @apply flex items-center pt-8;
}

#w3a-modal .w3a-header__logo {
  @apply mb-4;
}

#w3a-modal .w3a-header__logo img {
  @apply w-10 h-auto;
}

#w3a-modal .w3a-header__title {
  @apply text-xl font-bold text-app-gray-900 dark:text-app-white;
}

#w3a-modal div.w3a-header__subtitle {
  @apply flex items-center text-sm font-normal text-app-gray-500 dark:text-app-gray-400;
}

#w3a-modal div.w3a-header__subtitle img {
  @apply h-[14px] w-[14px] ml-1;
}

#w3a-modal button.w3a-header__button {
  @apply absolute p-0 border-0 cursor-pointer top-5 right-7 focus:outline-app-gray-50 active:outline-app-gray-50 dark:focus:outline dark:focus:outline-1 dark:active:outline dark:active:outline-1 dark:focus:outline-app-gray-400 dark:active:outline-app-gray-400;
}

/* BODY */
#w3a-modal .w3a-group {
  @apply mb-4;
}

#w3a-modal .w3a-group:last-child {
  @apply mb-0;
}

#w3a-modal .w3ajs-passwordless div.w3a-group__title {
  @apply flex items-center;
}

#w3a-modal .w3ajs-passwordless div.w3a-group__title img {
  @apply h-[14px] w-[14px] ml-1;
}

#w3a-modal .w3a-group.w3a-group--hidden,
#w3a-modal .w3a-group.w3a-group--social-hidden,
#w3a-modal .w3a-group.w3a-group--email-hidden,
#w3a-modal .w3a-group.w3a-group--ext-wallet-hidden {
  @apply hidden;
}

#w3a-modal div.w3a-group__title {
  @apply mb-2 text-sm font-medium text-app-gray-900 dark:text-app-white;
}

/* Adapter List */
#w3a-modal ul.w3a-adapter-list {
  @apply grid grid-cols-6 overflow-y-hidden gap-x-2 gap-y-4;
  padding: 1px;
  max-height: 500px;
  transition: max-height 0.35s;
  transition-timing-function: cubic-bezier(0.92, 0, 0.74, 1);
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--shrink {
  max-height: 50px;
  transition: max-height 0.3s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.71, 1);
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--hidden {
  @apply hidden;
}

#w3a-modal li.w3a-adapter-item {
  @apply list-none;
}

#w3a-modal li.w3a-adapter-item--full {
  @apply col-span-6;
}

#w3a-modal .w3a-adapter-item--hide {
  @apply hidden;
}

#w3a-modal .w3a-external-toggle {
  @apply block;
}

#w3a-modal .w3a-external-toggle.w3a-external-toggle--hidden {
  @apply hidden;
}

#w3a-modal .w3a-external-container {
  @apply block mb-0;
}

#w3a-modal .w3a-external-container.w3a-external-container--hidden {
  @apply hidden;
}

#w3a-modal .w3a-external-group {
  @apply flex flex-wrap gap-3 mb-4;
}

#w3a-modal .w3a-external-group__left {
  @apply flex-grow;
}

#w3a-modal button.w3a-external-back {
  @apply inline-flex items-center p-0 mb-2 border-0 cursor-pointer bg-none text-app-gray-500 dark:text-app-gray-400 focus:outline-app-gray-50 active:outline-app-gray-50 dark:focus:outline dark:focus:outline-1 dark:active:outline dark:active:outline-1 dark:focus:outline-app-gray-400 dark:active:outline-app-gray-400;
}

#w3a-modal .w3a-external-back .w3a-group__title {
  @apply text-app-gray-400 mb-0 ml-[5px];
}

#w3a-modal .w3a-external-loader {
  @apply flex justify-center;
}

#w3a-modal .w3a-wallet-connect {
  @apply block mb-4 text-center;
}

#w3a-modal .w3a-wallet-connect.w3a-wallet-connect--hidden {
  @apply hidden;
}

#w3a-modal .w3a-wallet-connect__container {
  @apply bg-app-white rounded-[10px] text-app-gray-500 dark:text-app-gray-400 text-xxs w-fit mx-auto min-w-[250px] py-4 px-3;
}

#w3a-modal .w3a-wallet-connect__container-desktop,
#w3a-modal .w3a-wallet-connect__container-android {
  @apply m-auto;
}

#w3a-modal .w3a-wallet-connect__container-btn-group {
  @apply flex gap-[18px];
}

#w3a-modal .w3a-wallet-connect__container-ios {
  @apply flex gap-x-5 gap-y-[30px] p-0 pb-7 box-border flex-wrap;
}

#w3a-modal .w3a-wallet-connect-qr {
  @apply m-4;
}

#w3a-modal .w3a-wallet-connect-qr>canvas,
#w3a-modal .w3a-wallet-connect-qr>svg {
  @apply m-auto;
}

#w3a-modal .w3a-wallet-connect__container-android a {
  @apply no-underline;
}

#w3a-modal .w3a-wallet-connect__logo>img {
  @apply mt-0 mx-auto mb-4 w-[115px];
}

/* Footer Components */
#w3a-modal .w3a-footer {
  @apply flex items-center justify-center text-xs text-app-gray-400;
}

#w3a-modal .w3a-footer__links a {
  @apply focus:outline-app-gray-50 active:outline-app-gray-50 dark:focus:outline dark:focus:outline-1 dark:active:outline dark:active:outline-1 dark:focus:outline-app-gray-400 dark:active:outline-app-gray-400;
}

#w3a-modal .w3a-footer__links span {
  margin: 0 4px;
}

#w3a-modal.w3a-modal--light .w3a-footer__links a:focus-visible {
  outline: 1px solid #0f1222;
}

#w3a-modal.w3a-modal--light .w3a-external-back:focus-visible {
  outline: 1px solid #0f1222;
}

#w3a-modal .hover-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

/* Text Field */
#w3a-modal .w3a-text-field {
  @apply py-3 px-6 mt-2 text-sm outline-0 ring-0 border rounded-full placeholder-app-gray-500 dark:placeholder-app-gray-400 bg-app-gray-50 border-app-gray-300 text-app-gray-900 dark:bg-app-gray-600 dark:border-app-gray-500 dark:text-app-white disabled:placeholder-app-gray-400 dark:disabled:placeholder-app-gray-500 disabled:cursor-not-allowed focus:ring-1 focus:ring-app-primary-600 dark:focus:ring-app-primary-500 focus:border-transparent dark:focus:border-transparent;

  line-height: 1.25em;
}

#w3a-modal .w3a-text-field--country-code {
  @apply flex justify-between w-full px-4;
}

#w3a-modal .w3a-text-field--number {
  @apply appearance-none;
}

#w3a-modal .w3a-sms-field--error {
  @apply text-app-red-500 text-sm -mt-2 mb-2 ml-1.5;
}

#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:hover,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:focus,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:active {
  @apply shadow-autofill;
  -webkit-text-fill-color: #111928 !important;
}

#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:hover,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:focus,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:active {
  @apply shadow-autofillDark;
  -webkit-text-fill-color: #fff !important;
}

/* Buttons */
#w3a-modal .w3a-button {
  @apply rounded-full py-3 px-6 text-base font-medium
  /* background */
  bg-app-gray-100 hover:bg-app-gray-300 focus:bg-app-gray-100 disabled:bg-app-gray-50 dark:bg-app-gray-900 dark:focus:bg-app-gray-900 dark:hover:bg-app-gray-800 dark:disabled:bg-[#3B4555]
  /* text */
  text-app-gray-900 focus:text-app-gray-700 disabled:text-app-gray-300 dark:text-app-white dark:focus:text-app-white dark:disabled:text-app-gray-500
  /* outline */
  focus:outline-app-gray-50 active:outline-app-gray-50 dark:focus:outline dark:focus:outline-1 dark:active:outline dark:active:outline-1 dark:focus:outline-app-gray-400 dark:active:outline-app-gray-400;
}

#w3a-modal .w3a-button--primary {
  @apply bg-app-primary-600 hover:bg-app-primary-800 focus:bg-app-primary-600 dark:bg-app-primary-500 dark:hover:bg-app-primary-800 dark:focus:bg-app-primary-500 disabled:bg-app-primary-200 dark:disabled:bg-app-primary-950 text-app-white focus:text-app-white disabled:text-[#EBF5FF] dark:disabled:text-app-gray-500 focus:outline-app-primary-300 active:outline-app-primary-300;
}

#w3a-modal .w3a-button--login {
  @apply inline-flex items-center justify-center h-11;
}

#w3a-modal button.w3a-button--login:hover>.hover-icon {
  display: block;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button--login:hover>.image-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button-expand {
  @apply w-auto h-auto mt-2 ml-auto text-sm text-app-primary-600 hover:text-app-primary-800 dark:text-app-primary-500 dark:hover:text-app-primary-400 focus-visible:outline-1 dark:focus-visible:outline-1 focus-visible:outline dark:focus-visible:outline focus-visible:outline-app-gray-50 dark:focus-visible:outline-app-gray-400;
}

/* SMS */
#w3a-modal .w3a-sms-field__container {
  @apply grid grid-cols-12 gap-2;
}

#w3a-modal .w3a-sms-field__code-selected {
  @apply flex;
}

#w3a-modal .w3a-sms-field__code-dropdown {
  @apply absolute z-10 overflow-y-scroll bg-app-white divide-y divide-app-gray-100 rounded-lg shadow-modal dark:bg-app-gray-700 w-[120px] h-[185px];
  transform: translate(0, -230px);
}

#w3a-modal .w3a-sms-field__code-dropdown--hidden {
  @apply hidden;
}

#w3a-modal .w3a-sms-field__code-dropdown ul {
  @apply py-2 text-sm text-app-gray-700 dark:text-app-gray-200;
}

#w3a-modal .w3a-sms-field__code-dropdown li {
  @apply p-0 cursor-pointer hover:bg-app-gray-100 dark:hover:bg-app-gray-900 dark:hover:text-app-white;
}

#w3a-modal .w3a-sms-field__code-dropdown li button {
  @apply w-full h-full px-4 py-2 text-left;
}

#w3a-modal .w3a-sms-field__code-dropdown li button div {
  @apply flex items-center;
}

#w3a-modal .w3a-sms-field__code {
  @apply col-span-5;
}

#w3a-modal .w3a-sms-field__number {
  @apply col-span-7;
}

/* SPINNER */
/* Loader */
#w3a-modal .w3a-modal__loader {
  @apply absolute inset-0 z-10 flex justify-center bg-app-white dark:bg-app-gray-800;
}

#w3a-modal .w3a-modal__loader.w3a-modal__loader--hidden {
  @apply hidden;
}

#w3a-modal .w3a-modal__loader-content {
  @apply text-center relative flex flex-col;
}

#w3a-modal .w3a-modal__loader-info {
  @apply flex flex-grow flex-col justify-center items-center py-0 px-[30px];
}

#w3a-modal .w3a-spinner-label {
  @apply text-base font-medium text-app-primary-600 dark:text-app-primary-500 mt-[10px];
}

#w3a-modal .w3a-spinner-message {
  @apply mt-[10px] text-base text-app-gray-500 dark:text-app-white first-letter:capitalize;
}

#w3a-modal .w3a-spinner-message.w3a-spinner-message--error {
  @apply text-app-red-500;
}

#w3a-modal .w3a-spinner-power {
  @apply mt-auto text-xs text-[#b7b8bd];
}

#w3a-modal .w3a-spinner-power>img {
  @apply inline w-auto h-8;
}

#w3a-modal .w3a-spinner {
  @apply relative inline-flex h-[60px] w-[60px];
}

#w3a-modal .w3a-spinner__spinner {
  @apply absolute animate-spin;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100vw;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(from 0deg at 50% 50%,
      var(--app-primary-600) 0%,
      rgb(229, 231, 235, 0.8) 90deg,
      rgb(229, 231, 235, 0.8) 270deg,
      var(--app-primary-600) 360deg);

  -webkit-mask:
    radial-gradient(farthest-side, #000 98%, #0000) center/85% 85% no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;

  mask:
    radial-gradient(farthest-side, #000 98%, #0000) center/85% 85% no-repeat,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.dark #w3a-modal .w3a-spinner__spinner {
  background-image: conic-gradient(from 0deg at 50% 50%,
      var(--app-primary-500) 0%,
      rgb(229, 231, 235, 0.2) 90deg,
      rgb(229, 231, 235, 0.2) 270deg,
      var(--app-primary-500) 360deg);
}


/* Loader Bridge */
#w3a-modal .w3a-modal__loader-bridge {
  @apply flex mb-[14px] items-center justify-center;
}

#w3a-modal .w3a-modal__loader-bridge-message {
  @apply text-app-gray-500 dark:text-app-white first-letter:capitalize;
}

#w3a-modal .w3a-modal__loader-app-logo {
  @apply flex p-2;
}

#w3a-modal .w3a-modal__loader-app-logo img {
  @apply max-h-[72px] max-w-[72px] w-[72px] h-auto;
}

#w3a-modal .w3a-modal__loader-social-logo {
  @apply bg-app-gray-100 dark:bg-app-gray-50 w-[72px] h-[72px] flex rounded-full items-center justify-center;
}

#w3a-modal .w3a-modal__loader-social-logo img {
  @apply w-16 h-16;
}

#w3a-modal .w3a-modal__loader-adapter img {
  width: 84px;
  height: auto;
}

#w3a-modal .w3a-modal__connector {
  display: flex;
  align-items: center;
}

.w3a-modal__connector-beat {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.w3a-modal__connector-beat div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #808080;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.w3a-modal__connector-beat div:nth-child(1) {
  left: 8px;
  animation: beat1 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(2) {
  left: 8px;
  animation: beat2 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(3) {
  left: 8px;
  animation: beat3 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(4) {
  left: 32px;
  animation: beat4 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(5) {
  left: 56px;
  animation: beat5 2.4s infinite;
}

@keyframes beat1 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes beat2 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: translate(24px, 0);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) scale(0);
  }
}

@keyframes beat3 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(48px, 0);
  }

  75% {
    transform: translate(24px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat4 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(24px, 0) scale(0);
  }

  75% {
    transform: translate(24px, 0) scale(1);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat5 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}