#w3a-modal button.t-btn,
a.t-btn {
  @apply w3a--flex w3a--items-center w3a--justify-center w3a--ease-linear w3a--transition-all w3a--duration-150;
}

#w3a-modal button.t-btn:not(.t-btn-text),
a.t-btn:not(.t-btn-text) {
  @apply disabled:w3a--bg-app-gray-300
    disabled:w3a--border-0
    disabled:hover:w3a--bg-app-gray-300
    disabled:hover:w3a--border-app-gray-300
    disabled:hover:w3a--text-app-gray-400
    disabled:active:w3a--bg-app-gray-300
    disabled:active:w3a--ring-offset-0
    disabled:active:w3a--outline-0
    disabled:active:w3a--ring-0
    disabled:w3a--text-app-gray-400
    dark:disabled:w3a--bg-app-gray-700
    dark:disabled:w3a--text-app-gray-600;
}
#w3a-modal .size-xs {
  height: 32px;
  @apply w3a--px-3 w3a--py-2 w3a--text-xs;
}
#w3a-modal .size-sm {
  height: 36px;
  @apply w3a--px-3 w3a--py-2 w3a--text-sm;
}
#w3a-modal .size-md {
  height: 42px;
  @apply w3a--px-5 w3a--py-2.5 w3a--text-sm;
}
#w3a-modal .size-lg {
  height: 48px;
  @apply w3a--px-5 w3a--py-3 w3a--text-base;
}
#w3a-modal .size-xl {
  height: 52px;
  @apply w3a--px-4 w3a--py-3.5 w3a--text-base;
}
/* #w3a-modal .icon {
  @apply rounded-full;
}
#w3a-modal .icon-xs {
  width: 32px;
  height: 32px;
  padding: 4px !important;
}
#w3a-modal .icon-sm {
  width: 36px;
  height: 36px;
  padding: 4px !important;
}
#w3a-modal .icon-md {
  width: 42px;
  height: 42px;
  padding: 10px !important;
}
#w3a-modal .icon-lg {
  width: 48px;
  height: 48px;
  padding: 14px !important;
}
#w3a-modal .icon-xl {
  width: 52px;
  height: 52px;
  padding: 14px !important;
} */
/* #w3a-modal .block {
  width: 100%;
} */
#w3a-modal .t-btn.t-btn-primary {
  @apply w3a--outline-none
    w3a--bg-app-primary-600
    w3a--text-app-onPrimary
    hover:w3a--bg-app-primary-700
    active:w3a--bg-app-primary-600
    active:w3a--outline
    active:w3a--outline-offset-1
    active:w3a--outline-1
    active:w3a--outline-app-primary-600
    focus-visible:w3a--outline
    focus-visible:w3a--outline-offset-1
    focus-visible:w3a--outline-1
    focus-visible:w3a--outline-app-primary-600

    dark:w3a--bg-app-primary-500
    dark:hover:w3a--bg-app-primary-400
    dark:active:w3a--bg-app-primary-500
    dark:active:w3a--outline-app-primary-500
    dark:focus-visible:w3a--outline-app-primary-500;
}
#w3a-modal .t-btn.t-btn-secondary {
  @apply w3a--outline-none
    w3a--bg-transparent
    w3a--text-app-gray-600
    w3a--border
    w3a--border-app-gray-500
    hover:w3a--bg-app-gray-200
    active:w3a--bg-transparent
    active:w3a--border-app-primary-600
    active:w3a--ring-1
    active:w3a--ring-app-primary-600
    focus-visible:w3a--border-app-primary-600
    focus-visible:w3a--bg-transparent
    focus-visible:w3a--ring-1
    focus-visible:w3a--ring-app-primary-600

    dark:w3a--text-app-white
    dark:w3a--border-app-gray-300
    dark:hover:w3a--bg-app-gray-700
    dark:active:w3a--bg-transparent
    dark:active:w3a--border-app-primary-500
    dark:active:w3a--ring-app-primary-500
    dark:focus-visible:w3a--border-app-primary-500
    dark:focus-visible:w3a--bg-transparent
    dark:focus-visible:w3a--ring-app-primary-500;
}
#w3a-modal .t-btn.t-btn-tertiary {
  @apply w3a--bg-app-gray-200
    w3a--text-app-gray-800
    hover:w3a--bg-app-gray-300
    active:w3a--bg-app-gray-200
    active:w3a--ring-2
    active:w3a--ring-app-primary-600
    focus-visible:w3a--ring-2
    focus-visible:w3a--ring-app-primary-600

    dark:w3a--bg-app-gray-500
    dark:w3a--text-app-white
    dark:hover:w3a--bg-app-gray-400
    dark:active:w3a--bg-app-gray-500
    dark:active:w3a--ring-app-primary-500
    dark:focus-visible:w3a--ring-app-primary-500;
}
#w3a-modal .t-btn.t-btn-text {
  @apply w3a--text-app-primary-600
    hover:w3a--text-app-primary-800
    hover:w3a--underline
    active:w3a--text-app-primary-600
    active:w3a--ring-2
    active:w3a--ring-app-primary-600
    focus-visible:w3a--ring-2
    focus-visible:w3a--ring-app-primary-600
    disabled:w3a--text-app-gray-400
    disabled:w3a--no-underline

    dark:w3a--text-app-primary-500
    dark:hover:w3a--text-app-primary-400
    dark:disabled:w3a--text-app-gray-600;
}
/* #w3a-modal .t-btn .t-icon {
  color: inherit;
} */
#w3a-modal .btn-link {
  @apply w3a--no-underline;
}
#w3a-modal button.t-btn:hover > .hover-icon {
  display: block;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.t-btn:hover > .image-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}
