@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply w3a--appearance-none;
  }
}

/* Keyframes for Shake Animation */
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes tilt {
  0% {
    transform: scale(0.9) rotate(0deg);
    /* Start slightly scaled down */
    opacity: 0;
    /* Start with opacity 0 */
  }

  30% {
    transform: scale(1.05) rotate(-5deg);
    /* Tilt to the left */
    opacity: 1;
    /* Fade in */
  }

  60% {
    transform: scale(1.05) rotate(5deg);
    /* Tilt to the right */
  }

  100% {
    transform: scale(1) rotate(0deg);
    /* Settle at the center */
  }
}

/* Keyframes for Opening Animation */
@keyframes open-modal {
  0% {
    transform: scale(0.8) rotate(-5deg);
    opacity: 0;
  }

  60% {
    transform: scale(1.05) rotate(2deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(0.9) translateY(-50%);
    /* Start scaled down and above the center */
    opacity: 0;
    /* Start invisible */
  }

  30% {
    transform: scale(1.05) translateY(0);
    /* Overshoot to larger scale */
    opacity: 1;
    /* Fade in */
  }

  50% {
    transform: scale(0.95) translateY(-10%);
    /* Bounce up */
  }

  70% {
    transform: scale(1.02) translateY(0);
    /* Bounce down */
  }

  85% {
    transform: scale(0.98) translateY(-5%);
    /* Slight bounce up */
  }

  100% {
    transform: scale(1) translateY(0);
    /* Settle at the center */
  }
}

@keyframes subtleAppear {
  0% {
    transform: scale(0.9);
    /* Start slightly scaled down */
    opacity: 0;
    /* Start with opacity 0 */
  }

  60% {
    transform: scale(1.02);
    /* Slightly overshoot */
    opacity: 1;
    /* Fade in */
  }

  100% {
    transform: scale(1);
    /* Settle at the final size */
  }
}

.transition-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-in {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-out {
  opacity: 0;
  transition: opacity 300ms;
}

.slide-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 300ms ease-in-out,
    opacity 300ms ease-in-out;
}

.tooltip {
  @apply w3a--absolute w3a--bottom-[58%] w3a--left-[50%] -w3a--translate-x-1/2 -w3a--translate-y-1/2 w3a--bg-app-gray-900 w3a--py-1 w3a--px-2 w3a--rounded-lg w3a--text-app-white w3a--text-sm w3a--text-center w3a--w-max w3a--shadow-md;
}

/* Modal */
#w3a-modal {
  @apply w3a--box-border w3a--fixed w3a--inset-0 w3a--flex w3a--items-center w3a--justify-center w3a--p-4 w3a--font-body;
}

#w3a-modal.w3a-modal--hidden {
  @apply w3a--hidden;
}

/* Modal Backdrop (optional, for added depth) */
#w3a-modal::before {
  content: "";
  @apply w3a--fixed w3a--inset-0 w3a--bg-app-black w3a--opacity-0;
  transition: opacity 200ms ease-in-out;
}

/* Initial Modal Styles */
#w3a-modal .w3a-modal__inner {
  @apply w3a--flex w3a--flex-col w3a--w-full w3a--max-w-[392px] w3a--max-h-[95%] w3a--overflow-x-hidden w3a--overflow-y-hidden w3a--rounded-[32px] w3a--opacity-0 w3a--relative w3a--bg-app-white dark:w3a--bg-app-gray-800 w3a--shadow-modal w3a--border w3a--border-app-gray-100 dark:w3a--border-app-gray-800;
  transform: scale(0.8) rotate(-5deg);
  /* Initial transform with slight rotation */
  transition: all 150ms cubic-bezier(0.92, 0, 1, 0.67);
  transform-origin: center center;
}

/* Active Modal Styles with Subtle Animation */
#w3a-modal .w3a-modal__inner.w3a-modal__inner--active {
  @apply w3a--opacity-100;
  animation: subtleAppear 0.5s ease-out forwards;
  /* Smooth and subtle animation */
  transform-origin: center center;
  transition: none;
  /* Disable default transition since animation takes over */
}

/* Active Backdrop */
#w3a-modal.w3a-modal--active::before {
  opacity: 0.5;
  /* Fade in the backdrop */
}

#w3a-modal .w3a-modal__header {
  @apply w3a--relative w3a--px-8 w3a--py-2 w3a--pt-0;
}

#w3a-modal .w3a-modal__content {
  @apply w3a--px-8 w3a--py-4 w3a--overflow-y-auto;
}

#w3a-modal .w3a-modal__content_external_wallet {
  @apply w3a--px-8 w3a--pt-6 w3a--overflow-y-auto;
}

#w3a-modal .w3a-modal__footer {
  @apply w3a--items-center w3a--justify-center w3a--px-8 w3a--py-4 w3a--mt-auto w3a--text-center;
}

/* Header */
#w3a-modal .w3a-header {
  @apply w3a--flex w3a--items-center w3a--pt-8;
}

#w3a-modal .w3a-header__logo {
  @apply w3a--mb-4;
}

#w3a-modal .w3a-header__logo img {
  @apply w3a--w-10 w3a--h-auto;
}

#w3a-modal .w3a-header__title {
  @apply w3a--text-xl w3a--font-bold w3a--text-app-gray-900 dark:w3a--text-app-white;
}

#w3a-modal div.w3a-header__subtitle {
  @apply w3a--flex w3a--items-center w3a--text-sm w3a--font-normal w3a--text-app-gray-500 dark:w3a--text-app-gray-400;
}

#w3a-modal div.w3a-header__subtitle img {
  @apply w3a--h-[14px] w3a--w-[14px] w3a--ml-1;
}

#w3a-modal button.w3a-header__button {
  @apply w3a--w-6 w3a--h-6 w3a--rounded-full w3a--flex w3a--items-center w3a--justify-center hover:w3a--bg-app-gray-100 dark:hover:w3a--bg-app-gray-700 w3a--absolute w3a--p-0 w3a--border-0 w3a--cursor-pointer w3a--top-[1.7rem] w3a--right-7 focus:w3a--outline-app-gray-50 active:w3a--outline-app-gray-50 dark:focus:w3a--outline dark:focus:w3a--outline-1 dark:active:w3a--outline dark:active:w3a--outline-1 dark:focus:w3a--outline-app-gray-400 dark:active:w3a--outline-app-gray-400;
}

#w3a-modal button.w3a-header__button_wallet {
  @apply w3a--w-6 w3a--h-6 w3a--rounded-full w3a--flex w3a--items-center w3a--justify-center hover:w3a--bg-app-gray-100 dark:hover:w3a--bg-app-gray-700 w3a--absolute w3a--p-0 w3a--border-0 w3a--cursor-pointer w3a--top-[1.6rem] w3a--right-7 focus:w3a--outline-app-gray-50 active:w3a--outline-app-gray-50 dark:focus:w3a--outline dark:focus:w3a--outline-1 dark:active:w3a--outline dark:active:w3a--outline-1 dark:focus:w3a--outline-app-gray-400 dark:active:w3a--outline-app-gray-400;
}

/* BODY */
#w3a-modal div.w3a-social__policy {
  @apply w3a--mt-4 w3a--text-xs w3a--font-medium w3a--text-left w3a--text-app-gray-500 dark:w3a--text-app-gray-400;
}

#w3a-modal .w3a-group {
  @apply w3a--mb-4;
}

#w3a-modal .w3a-group-loader-height {
  @apply w3a--h-[200px] w3a--flex w3a--justify-center w3a--items-center;
}

#w3a-modal .w3a-group:last-child {
  @apply w3a--mb-0;
}

#w3a-modal .w3ajs-passwordless div.w3a-group__title {
  @apply w3a--flex w3a--items-center;
}

#w3a-modal .w3ajs-passwordless div.w3a-group__title img {
  @apply w3a--h-[14px] w3a--w-[14px] w3a--ml-1;
}

#w3a-modal .w3a-group.w3a-group--hidden,
#w3a-modal .w3a-group.w3a-group--social-hidden,
#w3a-modal .w3a-group.w3a-group--email-hidden,
#w3a-modal .w3a-group.w3a-group--ext-wallet-hidden {
  @apply w3a--hidden;
}

#w3a-modal div.w3a-group__title {
  @apply w3a--mb-2 w3a--text-sm w3a--font-medium w3a--text-app-gray-900 dark:w3a--text-app-white;
}

/* Adapter List */
#w3a-modal div.w3a-adapter-list-container {
  height: 362px;
  scrollbar-width: none;
  overflow-y: auto;
}

#w3a-modal ul.w3a-adapter-list {
  @apply w3a--grid w3a--grid-cols-6 w3a--overflow-y-auto w3a--gap-[8px];
  max-height: 500px;
  padding: 1px;
  transition: max-height 0.35s;
  transition-timing-function: cubic-bezier(0.92, 0, 0.74, 1);
  scrollbar-width: none;
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--shrink {
  max-height: 100px;
  overflow-y: hidden;
  transition: max-height 0.3s;
  transition-timing-function: cubic-bezier(0, 0.73, 0.71, 1);
}

#w3a-modal ul.w3a-adapter-list.w3a-adapter-list--hidden {
  @apply w3a--hidden;
}

#w3a-modal li.w3a-adapter-item {
  @apply w3a--list-none;
}

#w3a-modal li.w3a-adapter-item--full {
  @apply w3a--col-span-6;
}

#w3a-modal .w3a-adapter-item--hide {
  @apply w3a--hidden;
}

#w3a-modal .w3a-external-toggle {
  @apply w3a--block;
}

#w3a-modal .w3a-external-toggle.w3a-external-toggle--hidden {
  @apply w3a--hidden;
}

#w3a-modal .w3a-external-container {
  @apply w3a--block w3a--mb-0;
}

#w3a-modal .w3a-external-container.w3a-external-container--hidden {
  @apply w3a--hidden;
}

#w3a-modal .w3a-external-group {
  @apply w3a--flex w3a--flex-wrap w3a--gap-3 w3a--mb-4;
}

#w3a-modal .w3a-external-group__left {
  @apply w3a--flex-grow;
}

#w3a-modal button.w3a-external-back {
  @apply w3a--w-6 w3a--h-6 w3a--rounded-full w3a--flex w3a--items-center w3a--justify-center hover:w3a--bg-app-gray-100 dark:hover:w3a--bg-app-gray-700 w3a--p-0 w3a--border-0 w3a--cursor-pointer w3a--bg-none w3a--text-app-gray-500 hover:w3a--text-app-gray-900 dark:w3a--text-app-gray-400 dark:hover:w3a--text-app-white focus:w3a--outline-app-gray-50 active:w3a--outline-app-gray-50 dark:focus:w3a--outline dark:focus:w3a--outline-1 dark:active:w3a--outline dark:active:w3a--outline-1 dark:focus:w3a--outline-app-gray-400 dark:active:w3a--outline-app-gray-400;
}

#w3a-modal .w3a-external-back .w3a-group__title {
  @apply w3a--text-app-gray-400 w3a--mb-0 w3a--ml-[5px];
}

#w3a-modal .w3a-external-loader {
  @apply w3a--flex w3a--justify-center;
}

#w3a-modal .w3a-wallet-connect {
  @apply w3a--block w3a--mb-2.5 w3a--text-center;
}

#w3a-modal .w3a-wallet-connect.w3a-wallet-connect--hidden {
  @apply w3a--hidden;
}

#w3a-modal .w3a-wallet-connect__container {
  @apply w3a--bg-app-white dark:w3a--bg-app-gray-800 w3a--rounded-[10px] w3a--text-app-gray-500 dark:w3a--text-app-gray-400 w3a--text-xxs w3a--w-fit w3a--mx-auto w3a--min-w-[250px] w3a--py-2.5;
}

#w3a-modal .w3a-wallet-connect__container-desktop,
#w3a-modal .w3a-wallet-connect__container-android {
  @apply w3a--m-auto;
}

#w3a-modal .w3a-wallet-connect__container-btn-group {
  @apply w3a--flex w3a--gap-[18px];
}

#w3a-modal .w3a-wallet-connect__container-ios {
  @apply w3a--flex w3a--gap-x-5 w3a--gap-y-[30px] w3a--p-0 w3a--pb-7 w3a--box-border w3a--flex-wrap;
}

#w3a-modal .w3a-wallet-connect-qr>canvas,
#w3a-modal .w3a-wallet-connect-qr>svg {
  @apply w3a--m-auto;
}

#w3a-modal .w3a-wallet-connect__container-android a {
  @apply w3a--no-underline;
}

#w3a-modal .w3a-wallet-connect__logo>img {
  @apply w3a--mt-0 w3a--mx-auto w3a--mb-4 w3a--w-[115px];
}

/* Footer Components */
#w3a-modal .w3a-footer {
  @apply w3a--flex w3a--items-center w3a--justify-center w3a--text-xs w3a--text-app-gray-400;
}

#w3a-modal .w3a-footer__links a {
  @apply focus:w3a--outline-app-gray-50 active:w3a--outline-app-gray-50 dark:focus:w3a--outline dark:focus:w3a--outline-1 dark:active:w3a--outline dark:active:w3a--outline-1 dark:focus:w3a--outline-app-gray-400 dark:active:w3a--outline-app-gray-400;
}

#w3a-modal .w3a-footer__links span {
  margin: 0 4px;
}

#w3a-modal.w3a-modal--light .w3a-footer__links a:focus-visible {
  outline: 1px solid #0f1222;
}

#w3a-modal.w3a-modal--light .w3a-external-back:focus-visible {
  outline: 1px solid #0f1222;
}

#w3a-modal .hover-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

/* Text Field */
#w3a-modal .w3a-text-field {
  @apply w3a--py-3 w3a--px-6 w3a--mt-2 w3a--text-sm w3a--outline-0 w3a--ring-0 w3a--border w3a--rounded-full w3a--placeholder-app-gray-500 dark:w3a--placeholder-app-gray-400 w3a--bg-app-gray-50 w3a--border-app-gray-300 w3a--text-app-gray-900 dark:w3a--bg-app-gray-600 dark:w3a--border-app-gray-500 dark:w3a--text-app-white disabled:w3a--placeholder-app-gray-400 dark:disabled:w3a--placeholder-app-gray-500 disabled:w3a--cursor-not-allowed focus:w3a--ring-1 focus:w3a--ring-app-primary-600 dark:focus:w3a--ring-app-primary-500 focus:w3a--border-transparent dark:focus:w3a--border-transparent;

  line-height: 1.25em;
}

#w3a-modal .w3a-text-field--country-code {
  @apply w3a--flex w3a--justify-between w3a--w-full w3a--px-4;
}

#w3a-modal .w3a-text-field--number {
  @apply w3a--appearance-none;
}

#w3a-modal .w3a-sms-field--error {
  @apply w3a--text-app-red-500 w3a--text-sm -w3a--mt-2 w3a--mb-2 w3a--ml-1.5;
}

#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:hover,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:focus,
#w3a-container #w3a-modal input.w3a-text-field:-webkit-autofill:active {
  @apply w3a--shadow-autofill;
  -webkit-text-fill-color: #111928 !important;
}

#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:hover,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:focus,
#w3a-container.dark #w3a-modal input.w3a-text-field:-webkit-autofill:active {
  @apply w3a--shadow-autofillDark;
  -webkit-text-fill-color: #fff !important;
}

/* Buttons */
#w3a-modal .w3a-button {
  @apply w3a--rounded-full w3a--py-3 w3a--px-6 w3a--text-base w3a--font-medium
  /* background */
  w3a--bg-app-gray-100 hover:w3a--bg-app-gray-300 focus:w3a--bg-app-gray-100 disabled:w3a--bg-app-gray-50 dark:w3a--bg-app-gray-900 dark:focus:w3a--bg-app-gray-900 dark:hover:w3a--bg-app-gray-800 dark:disabled:w3a--bg-[#3B4555]
  /* text */
  w3a--text-app-gray-900 focus:w3a--text-app-gray-700 disabled:w3a--text-app-gray-300 dark:w3a--text-app-white dark:focus:w3a--text-app-white dark:disabled:w3a--text-app-gray-500
  /* outline */
  focus:w3a--outline-app-gray-50 active:w3a--outline-app-gray-50 dark:focus:w3a--outline dark:focus:w3a--outline-1 dark:active:w3a--outline dark:active:w3a--outline-1 dark:focus:w3a--outline-app-gray-400 dark:active:w3a--outline-app-gray-400;
}

#w3a-modal .w3a-button--primary {
  @apply w3a--bg-app-primary-600 hover:w3a--bg-app-primary-800 focus:w3a--bg-app-primary-600 dark:w3a--bg-app-primary-500 dark:hover:w3a--bg-app-primary-800 dark:focus:w3a--bg-app-primary-500 disabled:w3a--bg-app-primary-200 dark:disabled:w3a--bg-app-primary-950 w3a--text-app-white focus:w3a--text-app-white disabled:w3a--text-[#EBF5FF] dark:disabled:w3a--text-app-gray-500 focus:w3a--outline-app-primary-300 active:w3a--outline-app-primary-300;
}

#w3a-modal .w3a-button--login {
  @apply w3a--inline-flex w3a--items-center w3a--justify-center w3a--h-11;
}

#w3a-modal button.w3a-button--login:hover>.hover-icon {
  display: block;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button--login:hover>.image-icon {
  display: none;
  transition: display 150ms;
  transition-timing-function: cubic-bezier(0, 0.54, 0.63, 0.99);
}

#w3a-modal button.w3a-button-expand {
  @apply w3a--w-auto w3a--h-auto w3a--mt-4 w3a--ml-auto w3a--text-sm w3a--text-app-primary-600 hover:w3a--text-app-primary-800 dark:w3a--text-app-primary-500 dark:hover:w3a--text-app-primary-400 focus-visible:w3a--outline-1 dark:focus-visible:w3a--outline-1 focus-visible:w3a--outline dark:focus-visible:w3a--outline focus-visible:w3a--outline-app-gray-50 dark:focus-visible:w3a--outline-app-gray-400;
}

/* SMS */
#w3a-modal .w3a-sms-field__container {
  @apply w3a--grid w3a--grid-cols-12 w3a--gap-2;
}

#w3a-modal .w3a-sms-field__code-selected {
  @apply w3a--flex;
}

#w3a-modal .w3a-sms-field__code-dropdown {
  @apply w3a--absolute w3a--z-10 w3a--overflow-y-scroll w3a--bg-app-white w3a--divide-y w3a--divide-app-gray-100 w3a--rounded-lg w3a--shadow-modal dark:w3a--bg-app-gray-700 w3a--w-[120px] w3a--h-[185px];
  transform: translate(0, -230px);
}

#w3a-modal .w3a-sms-field__code-dropdown--hidden {
  @apply w3a--hidden;
}

#w3a-modal .w3a-sms-field__code-dropdown ul {
  @apply w3a--py-2 w3a--text-sm w3a--text-app-gray-700 dark:w3a--text-app-gray-200;
}

#w3a-modal .w3a-sms-field__code-dropdown li {
  @apply w3a--p-0 w3a--cursor-pointer hover:w3a--bg-app-gray-100 dark:hover:w3a--bg-app-gray-900 dark:hover:w3a--text-app-white;
}

#w3a-modal .w3a-sms-field__code-dropdown li button {
  @apply w3a--w-full w3a--h-full w3a--px-4 w3a--py-2 w3a--text-left;
}

#w3a-modal .w3a-sms-field__code-dropdown li button div {
  @apply w3a--flex w3a--items-center;
}

#w3a-modal .w3a-sms-field__code {
  @apply w3a--col-span-5;
}

#w3a-modal .w3a-sms-field__number {
  @apply w3a--col-span-7;
}

/* SPINNER */
/* Loader */
#w3a-modal .w3a-modal__loader {
  @apply w3a--absolute w3a--inset-0 w3a--z-10 w3a--flex w3a--justify-center w3a--bg-app-white dark:w3a--bg-app-gray-800;
}

#w3a-modal .w3a-modal__loader.w3a-modal__loader--hidden {
  @apply w3a--hidden;
}

#w3a-modal .w3a-modal__loader-content {
  @apply w3a--text-center w3a--relative w3a--flex w3a--flex-col;
}

#w3a-modal .w3a-modal__loader-info {
  @apply w3a--flex w3a--flex-grow w3a--flex-col w3a--justify-center w3a--items-center w3a--py-0 w3a--px-[30px];
}

#w3a-modal .w3a-spinner-label {
  @apply w3a--text-base w3a--font-medium w3a--text-app-primary-600 dark:w3a--text-app-primary-500 w3a--mt-[10px];
}

#w3a-modal .w3a-spinner-message {
  @apply w3a--mt-[10px] w3a--text-base w3a--text-app-gray-500 dark:w3a--text-app-white first-letter:w3a--capitalize;
}

#w3a-modal .w3a-spinner-message.w3a-spinner-message--error {
  @apply w3a--text-app-red-500;
}

#w3a-modal .w3a-spinner-power {
  @apply w3a--mt-auto w3a--text-xs w3a--text-[#b7b8bd];
}

#w3a-modal .w3a-spinner-power>img {
  @apply w3a--inline w3a--w-auto w3a--h-8;
}

#w3a-modal .w3a-spinner {
  @apply w3a--relative w3a--inline-flex w3a--h-[60px] w3a--w-[60px];
}

#w3a-modal .w3a-spinner__spinner {
  @apply w3a--absolute w3a--animate-spin;
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100vw;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(from 0deg at 50% 50%,
      var(--app-primary-600) 0%,
      rgb(229, 231, 235, 0.8) 90deg,
      rgb(229, 231, 235, 0.8) 270deg,
      var(--app-primary-600) 360deg);

  -webkit-mask:
    radial-gradient(farthest-side, #000 98%, #0000) center/85% 85% no-repeat,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out;

  mask:
    radial-gradient(farthest-side, #000 98%, #0000) center/85% 85% no-repeat,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.dark #w3a-modal .w3a-spinner__spinner {
  background-image: conic-gradient(from 0deg at 50% 50%,
      var(--app-primary-500) 0%,
      rgb(229, 231, 235, 0.2) 90deg,
      rgb(229, 231, 235, 0.2) 270deg,
      var(--app-primary-500) 360deg);
}

/* Loader Bridge */
#w3a-modal .w3a-modal__loader-bridge {
  @apply w3a--flex w3a--mb-[14px] w3a--items-center w3a--justify-center;
}

#w3a-modal .w3a-modal__loader-bridge-message {
  @apply w3a--text-app-gray-500 dark:w3a--text-app-white first-letter:w3a--capitalize;
}

#w3a-modal .w3a-modal__loader-app-logo {
  @apply w3a--flex w3a--p-2;
}

#w3a-modal .w3a-modal__loader-app-logo img {
  @apply w3a--max-h-12 w3a--max-w-12 w3a--w-12 w3a--h-12 w3a--object-contain;
}

#w3a-modal .w3a-modal__loader-social-logo {
  @apply w3a--w-14 w3a--h-14 w3a--flex w3a--rounded-full w3a--items-center w3a--justify-center w3a--p-1;
}

#w3a-modal .w3a-modal__loader-social-logo img {
  @apply w3a--max-h-10 w3a--max-w-10 w3a--w-10 w3a--h-10 w3a--object-contain;
}

#w3a-modal .w3a-modal__loader-adapter img {
  width: 84px;
  height: auto;
}

#w3a-modal .w3a-modal__connector {
  display: flex;
  align-items: center;
}

.w3a-modal__connector-beat {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.w3a-modal__connector-beat div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #808080;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  @apply w3a--animate-pulse w3a--bg-app-gray-200 dark:w3a--bg-app-gray-700;
}

.w3a-modal__connector-beat div:nth-child(1) {
  left: 8px;
  animation: beat1 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(2) {
  left: 8px;
  animation: beat2 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(3) {
  left: 8px;
  animation: beat3 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(4) {
  left: 32px;
  animation: beat4 2.4s infinite;
}

.w3a-modal__connector-beat div:nth-child(5) {
  left: 56px;
  animation: beat5 2.4s infinite;
}

.wallet-btn {
  @apply w3a--bg-app-gray-100 hover:w3a--bg-app-gray-200 dark:w3a--bg-app-gray-700 dark:hover:w3a--bg-app-gray-800;
}

.wallet-link-btn {
  @apply dark:w3a--bg-app-gray-700 dark:hover:w3a--bg-app-gray-700 w3a--text-app-gray-900 dark:w3a--text-app-white;
}

.wallet-link-btn img {
  @apply w3a--w-7 w3a--h-7;
}

.wallet-adapter-container {
  @apply w3a--h-[551px];
}

@keyframes beat1 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes beat2 {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: translate(24px, 0);
  }

  75% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0) scale(0);
  }
}

@keyframes beat3 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(48px, 0);
  }

  75% {
    transform: translate(24px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat4 {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(24px, 0);
  }

  50% {
    transform: translate(24px, 0) scale(0);
  }

  75% {
    transform: translate(24px, 0) scale(1);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes beat5 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0);
  }

  50% {
    transform: scale(0);
  }

  75% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}