@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import "tailwindcss" prefix(wta);
@import "@toruslabs/vue-components/web3auth-theme.css";
@config "../../../tailwind.config.js";
@custom-variant dark (&:is(.w3a--dark *));

@theme {
  --color-app-primary-950: #2d4874;
  --shadow-light: 0px 2px 8px 2px #e5e7eb;
  --shadow-dark: 0px 2px 8px 2px #111928;
}

@layer base {
  body {
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
  }

  .w3a-parent-container {
    font-family: "Inter";
    position: relative;
  }

  .w3a-parent-container > * {
    scrollbar-color: #e5e7eb !important;
  }

  .w3a-modal-container {
    overflow: hidden;
    transition: height 0.3s ease-out;
    position: relative;
  }

  .w3a--social-container {
    scrollbar-color: #e5e7eb !important;
    scroll-padding-right: 10px;
  }

  .w3a--modal-curtain {
    position: absolute;
    background-color: transparent;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 50ms ease-in;
    z-index: 1;
  }
}

@layer utilities {
  .w3a--bottom {
    @apply wta:bottom-1 wta:left-[50%] wta:translate-x-[-50%];
  }

  .w3a--bottom-sheet-bg {
    @apply wta:bg-app-gray-600 wta:opacity-50;
  }

  .w3a--bottom-sheet-width {
    @apply wta:w-[98%];
  }

  .w3a--connected-logo {
    @apply wta:size-16 wta:text-app-green-500 wta:dark:text-app-green-400;
  }

  .w3a--error-logo {
    @apply wta:w-16 wta:h-16 wta:text-app-red-500 wta:dark:text-app-red-400;
  }

  .w3a--btn {
    @apply wta:appearance-none wta:text-app-gray-700 wta:text-base wta:font-normal wta:w-full 
    wta:border wta:border-app-gray-200 wta:dark:border-app-gray-500
    wta:px-5 wta:py-3 wta:flex wta:items-center wta:justify-center 
    wta:hover:shadow-light wta:dark:hover:shadow-dark
    wta:gap-x-2 wta:hover:bg-app-gray-50 wta:dark:hover:bg-app-gray-800 wta:hover:translate-y-[0.5px] wta:hover:border-app-gray-50 wta:dark:hover:border-app-gray-800;
  }

  .w3a--input {
    @apply wta:flex wta:items-center wta:justify-between wta:gap-x-2 wta:w-full
    wta:px-5 wta:py-3 wta:border wta:border-app-gray-200 wta:dark:border-app-gray-500;
  }
}
