<div class="content" >
  <h1>Web3Auth & AngularJS Demo</h1>
  <div class="card-container">
    <ng-template  *ngIf="isModalLoaded && isLoggedIn; else elseBlock">
      <button class="card card-small" (click)="getUserInfo()">
        Get User Info
      </button>
      <button class="card card-small" (click)="logout()">
        Log Out
      </button>
      <p>{{ userInfo }}</p>
    </ng-template>
    <ng-template #elseBlock>
      <button class="card card-small" (click)="login()">Login</button>
    </ng-template>
</div>
</div>
