@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box;
  }

  .w3a-parent-container {
    font-family: "Inter";
    position: relative;
  }

  .w3a-parent-container > * {
    scrollbar-color: #E5E7EB !important;
  }

  .w3a-modal-container {
    overflow: hidden;
    transition-property: max-height;
    transition-duration: .15s;
    transition-timing-function: ease-out;
    position: relative;
  }

  .w3a-modal-container-height {
    max-height: 800px;
    height: 100vh;
  }

  .w3a-external-wallet-btn #external-wallet-count {
    display: block;
  }

  .w3a-external-wallet-btn #external-wallet-arrow {
    display: none;
  }

  .w3a-external-wallet-btn:hover > #external-wallet-count {
    display: none;
  }

  .w3a-external-wallet-btn:hover > #external-wallet-arrow {
    display: block;
  }

  .w3a-arrow > #login-arrow {
    display: none;
  }

  .w3a-arrow:hover > #login-arrow {
    display: block;
  }

  .w3a-img-login-group > img#active-login-img {
    display: none;
  }

  .w3a-img-login-group:hover > img#active-login-img {
    display: block; 
  }

  .w3a-img-login-group > img#login-img {
    display: block;
  }

  .w3a-img-login-group:hover > img#login-img {
    display: none;
  }

  .w3a--link-arrow > #device-link-arrow {
    display: none;
  }

  .w3a--link-arrow:hover > #device-link-arrow {
    display: block;
  }
}

@layer utilities {
  .w3a--loader-logo-size {
    @apply w3a--h-10 w3a--w-10;
  }

  .w3a--header-logo-size {
    @apply w3a--h-10 w3a--w-10;
  }

  .w3a--animate-circle {
    @apply w3a--h-3 w3a--w-3 w3a--rounded-full w3a--bg-app-gray-200 dark:w3a--bg-app-gray-700 w3a--animate-pulse;
  }

  .w3a--bottom {
    @apply w3a--bottom-1 w3a--left-[50%] w3a--translate-x-[-50%];
  }

  .w3a--bottom-sheet-bg {
    @apply w3a--bg-app-gray-600 w3a--opacity-50;
  }

  .w3a--bottom-sheet-width {
    @apply w3a--w-[98%];
  }

  .w3a--connected-logo {
    @apply w3a--w-16 w3a--h-16 w3a--text-app-green-500 dark:w3a--text-app-green-400;
  }

  .w3a--error-logo {
    @apply w3a--w-16 w3a--h-16 w3a--text-app-red-500 dark:w3a--text-app-red-400;
  }

  .w3a--btn {
    @apply w3a--appearance-none w3a--text-app-gray-700 w3a--text-base w3a--font-normal w3a--w-full 
    w3a--border w3a--border-app-gray-200 dark:w3a--border-app-gray-500 w3a--rounded-full 
    w3a--px-5 w3a--py-3 w3a--flex w3a--items-center w3a--justify-center 
    hover:w3a--shadow-light dark:hover:w3a--shadow-dark
    w3a--gap-x-2 hover:w3a--bg-app-gray-50 dark:hover:w3a--bg-app-gray-800 hover:w3a--translate-y-[0.5px] hover:w3a--border-app-gray-50 dark:hover:w3a--border-app-gray-800;
  }

  .w3a--input {
    @apply w3a--flex w3a--items-center w3a--justify-between w3a--gap-x-2 w3a--w-full
    w3a--px-5 w3a--py-3 w3a--rounded-full w3a--border w3a--border-app-gray-200 dark:w3a--border-app-gray-500;
  }
}

.w3a--icon-animation {
  animation: w3a--icon-move 1s ease-in-out infinite;
}

@keyframes w3a--icon-move {
  0% { transform: translateX(0px); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0px); }
}

/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #E5E7EB !important; 
} */
 
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #E5E7EB !important; 
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #E5E7EB !important; 
} */

.w3a--modal-curtain {
  position: absolute;
  background-color: transparent;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 50ms ease-in;
  z-index: 1;
}
